html, body{
    background: #eee;
    margin: 0.25em 2%;
}

#schedule{
    display: block;
    /* margin: 0 auto; */
}

/* previous/next buttons */
.weekdayButtonCircle{
    fill: #ddd;
    fill-opacity: 0;
    transition-duration: 0.2s;
}

.weekdayButton:hover:not(.grayout) .weekdayButtonCircle{
    fill-opacity: 1;
}

.weekdayButtonChevron{
    stroke: #777;
    stroke-width: 0.3;
    fill: transparent;
}

.weekdayButton.grayout{
    cursor: default;
}

.weekdayButton.grayout .weekdayButtonChevron{
    stroke: #ccc;
    transition-duration: 0.2s;
}

.meeting:hover {
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.5));
}

p, button, .hourLabel, .meetingLabel{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#scheduleLegend{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    margin: 7px 0;
}

.scheduleLegendRow{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.colorSquare{
    width: 20px;
    height: 20px;
    margin-right: 7px;
    border: 2px solid black;
}

.scheduleLegendRow p{
    user-select: none;
    font-size: 1.25em;
}

.scheduleLegendRow.grayout p{
    text-decoration: line-through;
    opacity: .6;
}

.scheduleLegendRow.grayout .colorSquare{
    border-color: transparent;
}

.legendButton{
    margin-right: 7px;
    border: 2px solid black;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #ccc;
}

#legendButtonsContainer{
    margin-left: 15px;
}

.meetingLabel{
    font-size: 2.2px;
    font-weight: bold;
}

.hourLabel{
    fill: black;
}